@tablet-width: 768px;
@desctop-width: 1200px;
@font-size: 16px;
@line-height: 19.5px;
@font-color: #000000;
@title-font-size: 45px;
@title-weight: 700;
@title-line-height: 55px;
@title-font-color:  #1690F0;
