.about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.about__img-box {
  display: none;
}
.about__title {
  margin-bottom: 15px;
}
.about__additional-text {
  display: none;
}
.about__more,
.about__less {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1690F0;
  text-transform: uppercase;
  transition: color 0.3s linear;
}
.about__more::after,
.about__less::after {
  content: "";
  position: absolute;
  right: -13px;
  top: 2px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #1690F0;
  border-bottom: 3px solid #1690F0;
  transform: rotate(-45deg);
  transition: border-color 0.3s linear;
}
.about__more:hover,
.about__less:hover,
.about__more:focus,
.about__less:focus {
  cursor: pointer;
  color: #000;
}
.about__more:hover::after,
.about__less:hover::after,
.about__more:focus::after,
.about__less:focus::after {
  cursor: pointer;
  border-color: #000;
}
@media (min-width: 1024px) {
  .about {
    display: flex;
  }
  .about__img-box {
    display: block;
    width: 42%;
    height: 329px;
    border-radius: 8px;
    background-image: url("../img/water.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .about__content-box {
    width: 58%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 6%;
  }
}
@media (min-width: 1278px) {
  .about {
    margin-top: 128px;
  }
  .about__title {
    margin-bottom: 29px;
  }
  .about__text,
  .about__additional-text {
    font-size: 20px;
    line-height: 24px;
  }
}
