.custom-about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.custom-about__img-box {
  display: none;
}
.custom-about__custom-title {
  margin-bottom: 15px;
}
.custom-about__additional-text {
  display: none;
}
.custom-about__more,
.custom-about__less {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1690F0;
  text-transform: uppercase;
  transition: color 0.3s linear, opacity 0.3s linear;
}
.custom-about__more::after,
.custom-about__less::after {
  content: "";
  position: absolute;
  right: -13px;
  top: 2px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #1690F0;
  border-bottom: 3px solid #1690F0;
  transform: rotate(-45deg);
  transition: border-color 0.3s linear;
}
.custom-about__more:hover,
.custom-about__less:hover,
.custom-about__more:focus,
.custom-about__less:focus {
  cursor: pointer;
  color: #000;
}
.custom-about__more:hover::after,
.custom-about__less:hover::after,
.custom-about__more:focus::after,
.custom-about__less:focus::after {
  cursor: pointer;
  border-color: #000;
}
@media (min-width: 1024px) {
  .custom-about__img-box {
    float: left;
    display: block;
    width: 42%;
    height: 329px;
    border-radius: 8px;
    margin-right: 6%;
    background-image: url("../img/water.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .custom-about__content-box {
    padding-top: 30px;
  }
}
@media (min-width: 1278px) {
  .custom-about {
    margin-top: 128px;
  }
  .custom-about__custom-title {
    margin-bottom: 29px;
  }
  .custom-about__text,
  .custom-about__additional-text {
    font-size: 20px;
    line-height: 24px;
  }
}
